.jobBoardRoot {
    display: flex;
    gap: 15px;
    height: 650px;
    background-color: #F4F6F8 !important;
}

.columnHeader {
    position: sticky;
}

.jobContainer {
    height: 560px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.jobBoardRoot div {
    flex: 1;
    text-align: center;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 6px; /* Slim scrollbar */
    height: 6px; /* For horizontal scrollbars */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* No background */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.3); /* Subtle gray scrollbar */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.5); /* Darker on hover */
  }